    
               <link rel="stylesheet" href="/css/comments.css">
               <div class="comment-li-con">
                    <li id="comment-<%=comment._id%>"> 
                        <div class="comment-container">
                            <%=comment.user.name%>
                            <br>
                            <%=comment.content%>
                            <br>
                            <div class="comment-delete-button">
                                <%if(locals.user && locals.user.id == comment.user.id){%>
                                    <a href="/comments/deleteComment/?id=<%=comment.id%>"class="deleteButton">
                                        <small>
                                            delete
                                        </small>
                                    </a>
                                <%}%>
                            </div>
                        </div>
                        <div class="likes-container"> 
                            <small>
                                <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment" class="toggle-like" data-likes = "<%=comment.likes.lenght%>"><%=comment.likes.length%> likes</a>
                            </small>
                        </div>
                    </li>
                </div>
                    
                     
              