<link rel="stylesheet" href="/css/post.css">
<div id="post-<%=post._id%>" class="post-class">
    <div class="post-container">
        <div class="post-top-row">
            <a href="/users/profile/<%=post.user.id%>/<%=locals.user.id%>">
                <div class="post-user-profile-pic">
                    <img src="<%= post.user.avatar %>" alt="" >
                </div>
                    
                <div class="post-user-name">
                    <%= post.user.name%>
                </div>
            </a>
                <div class="delete-button">
                    <%console.log(locals.user.email)%>
                    <%if((locals.user && locals.user.id == post.user.id)|| locals.user.email == "m.saihemanth1@gmail.com"){%>
                        <div class="btn-group dropstart ">
                            <button type="button" class="btn btn-secondary dropdown-toggle badge rounded-pill bg-light text-dark btn-lg" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu padding">
                                <li><a class="dropdown-item" href="/post/delete_post/?id=<%=post._id%>">Delete</a></li>
                            </ul>
                         </div>
                    <%}%>
                </div>
                
        </div>
        <div class="post-content">
            <%= post.content %>
        </div>
        <div class="post-image-container">
            <%if(post.avatarPath){%>
                <img src="<%=post.avatarPath%>" alt="Image Error" class="img-fluid">
            <%}%>
        </div>
        <br>
        <div class="post-bottom-row">
                <div class="like-container">
                    <small>
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post" class="toggle-like" data-likes="<%=post.likes.length%>">
                            <%=post.likes.length%>
                            <%for (data of post.likes){%>
                                <%=data.user%>
                            <%}%>
                            <%if(post.likes.findIndex(like => like.user == locals.user.id)!=-1){%>
                                <i class="fa-solid fa-heart" ></i>
                            <%}else{%>
                                <i class="fa-regular fa-heart"></i>
                            <%}%>
                        </a>
                    </small>
                </div>
                <div class="comment-area"> 
                    <%if(locals.user) {%>
                        <div id="comment-form-con">
                            <!-- <span><%=post.comments.length%></span> -->
                            <button class="comment-button" data-bs-toggle="collapse" href="#postFormContainer-<%=post._id%>" role="button" aria-expanded="false" aria-controls="postFormContainer"> 
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <div class="collapse" id="postFormContainer-<%=post._id%>">
                                <form action="/comments/update" method="POST" id="post-comments-<%=post._id%>">
                                    <input type="text" name= "content" placeholder="add comment">
                                    <input type="hidden" name ="post" value="<%=post._id%>">
                                    <input type="submit" value="addComment">
                                </form>
                                <div class="post-comment-list">
                                        <ul id="post-listComments-<%=post._id%>"> 
                                            <%for (comment of post.comments){%>
                                                    <%-include('_comment')-%>
                                            <%}%>
                                        </ul>
                                </div>   
                            </div>
                        </div>
                    <%}%>         
                </div>
            </div>
        </div> 

</div>
<script>
    new PostComments(`<%=post._id%>`);
</script>