
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    <%=title%>
</h1> 
<img src="<%=users_profile.avatar%>" alt="<%=users_profile.name%>" width="100">
 
<p><%= users_profile.name%></p>
<p><%= users_profile.email%></p>


<%if(locals.user.id ==  users_profile.id){%>
    <h3>Edit Crdentials</h3>
    <form action="/users/update/<%=users_profile.id%>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%=users_profile.name%>">
        <input type="email" name="email" placeholder="Your Email" value="<%=users_profile.email%>">
        <input type="file" name="avatar" placeholder="profile-pic">
        <button>Update</button>
    </form>
<%}%>