<link rel="stylesheet" href="/css/user_profile.css">
<div class="pro-img-con">
    <div class="img-con">
        <img src="<%=users_profile.avatar%>" alt="<%=users_profile.name%>">
    </div>
    <div class="name-con">
        <span>
            <%= users_profile.name%>
        </span>
        <%if(locals.user.id !=  users_profile.id){%>
            <%if(bools == true){%>
                <form action="/users/friends/" method="post" class="friendClass" id="addFriend">
                    <input type="hidden" name = 'senderId' value="<%=locals.user.id%>">
                    <input type="hidden" name= "recieverId" value="<%=users_profile.id%>">
                    <button class="friendButton" id="button-id">Follow</button>
                </form>
            <%}else{%>
                <form action="/users/friends/" method="post" class="friendClass" id="addFriend">
                    <input type="hidden" name = 'senderId' value="<%=locals.user.id%>">
                    <input type="hidden" name= "recieverId" value="<%=users_profile.id%>">
                    <button class="friendButton">UnFollow</button>
                </form>
            <%}%>
        <%}%>
    </div>
    <%if(locals.user.id ==  users_profile.id){%>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
               Edit
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body edit-div">
                <h3>Edit Crdentials</h3>
                <form action="/users/update/<%=users_profile.id%>" enctype="multipart/form-data" method="post" id="edit-form">
                    <input type="text" name="name" placeholder="Your Name" value="<%=users_profile.name%>">
                    <input type="email" name="email" placeholder="Your Email" value="<%=users_profile.email%>">
                    <span style="font-weight: 900;">To Update your profile Picture,choose a file</span>
                    <input type="file" name="avatar" placeholder="profile-pic">
                    <button>Update</button>
                </form>
            </div>
          </div>
        
    <%}%>
</div>
<div class="profile-data-container" id="profile-data-container">
    <div class="follower-container" id="remove">
        <h1>
            Followers
        </h1>
        <div class="overflow">
            <%for(following of user_connections.follower){%>
                <div class="total-user-data">
                    <a href="/users/profile/<%=following.id%>/<%=locals.user.id%>">
                        <span>
                            <img src="<%=following.avatar%>" alt="">
                        </span>
                        <span class="name">
                            <%=following.name%>
                        </span>
                    </a>
                </div>
            
            <%}%>
        </div>
    </div>
    <div class="user-posts">
        <ul id="post-list">
            <% for (post of user_posts) {%>
                 <%-include ('_post')-%>
            <%}%>
        </ul>
    </div>
    <div class="following-container" id="following-container">
        <h1>
            All Users
        </h1>
        <div class="overflow" id="overflow"> 
            <%for(following of all){%>
                <div class="total-user-data">
                    <a href="/users/profile/<%=following.id%>/<%=locals.user.id%>">
                        <span>
                            <img src="<%=following.avatar%>" alt="">
                        </span>
                        <span class="name">
                            <%=following.name%>
                        </span>
                    </a>
                </div>
            
            <%}%>
        </div>
    </div>
    
</div>
 
 
 